#home .ant-col {
  margin: 8px 0;
}

#home .ant-card-hoverable {
  cursor: default;
}

#home .players .ant-list-item-meta-description {
  height: 30px;
  position: relative;
}

#home .players .ant-list-item-meta-avatar {
  margin-top: 12px;
}

#home .players .ant-card-body {
  padding: 0 24px 4px;
}

#home .players .health {
  height: 14px;
  width: 140px;
  position: absolute;
  background-size: contain;
  background-image: url(../assets/heart_background.png);
}

#home .players .health-full {
  height: 14px;
  position: absolute;
  background-size: contain;
  background-image: url(../assets/heart.png);
  transition: all 1s ease-in-out;
}

#home .players .food {
  top: 18px;
  height: 14px;
  width: 140px;
  position: absolute;
  background-size: contain;
  background-image: url(../assets/food_background.png);
}

#home .players .food-full {
  top: 18px;
  height: 14px;
  position: absolute;
  background-size: contain;
  background-image: url(../assets/food.png);
  transition: all 1s ease-in-out;
}

#home .address .ant-statistic-content-value {
  display: none;
}

#home .address h4 {
  font-size: 16px;
  white-space: nowrap;
  margin: 0;
}
