.chat-icon {
  float: right;
  top: 18px;
  right: 78px;
  position: absolute;
  z-index: 1;
}

.chat .ant-drawer-content {
  background-color: #fafafa;
  overflow: hidden;
}

.chat .ant-drawer-content-wrapper {
  max-width: 500px;
}

.chat .ant-drawer-body {
  height: 100%;
  padding: 50px 30px 30px;
}

.chat .messages {
  height: calc(100% - 32px);
  overflow: auto;
}

.chat .messages>div {
  display: flex;
}

.chat .messages>div.right {
  padding-right: 16px;
  flex-direction: row-reverse;
}

.chat .messages>div.right .ant-card {
  margin: 0 16px 16px 0;
}

.chat .messages>div.tag {
  justify-content: center;
  margin-bottom: 16px;
}

.chat .ant-avatar {
  flex-shrink: 0;
  margin-top: 8px;
}

.chat .ant-card {
  margin: 0 0 16px 16px;
  word-break: break-all;
}

.chat .ant-card-body {
  padding: 6px;
}

.chat .name {
  margin: 0;
  font-size: 12px;
  color: #52c41a;
  font-weight: 600;
}

.chat .time {
  display: block;
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
  text-align: right;
  margin-top: -6px;
}
