#mcp-app .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#mcp-app .trigger:hover {
  color: #1890ff;
}

#mcp-logo {
  height: 60px;
  background-image: url(./assets/logo192.png);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center;
}

#mcp-app h3 {
  line-height: unset;
  display: inline;
}

#mcp-app .head {
  cursor: pointer;
  float: right;
  top: 12px;
  right: 18px;
  position: absolute;
  z-index: 1;
}