body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root, section {
  height: 100% !important;
  overflow: hidden;
}

.no-padding .ant-drawer-body, .no-padding .ant-drawer-header {
  padding: 0;
}

.mcp-content {
  margin-top: -8px;
  padding: 24px;
}
